* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
	background-color: teal;
	min-height: 100vh;
}

.dice-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	background-color: white;
}

.die {
	width: 100px;
	height: 100px;
	background-color: maroon;
	margin: 12px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.die span:nth-child(2) {
	font-size: 24px;
}
